In [1]:
import numpy as np
import pandas as pd
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import warnings 
warnings.filterwarnings('ignore')
import time
import requests
from bs4 import BeautifulSoup
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
from selenium.common.exceptions import ElementNotInteractableException

### 1. Scrape  the  details  of  most  viewed  videos  on  YouTube  from  Wikipedia.  Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details:  A) Rank   B) Name   C) Artist   D) Upload date   E) Views

In [19]:
driver=webdriver.Chrome()

In [20]:
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [4]:
# creating empty list
rank=[]
name=[]
artist=[]
upload_date=[]
views=[]

In [6]:
# scraping name from the given page
name_tag=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[1]')
try:
    for i in name_tag:
        name.append(i.text)
except NoSuchElementException as e:
    print("Exception Raised",e)

In [7]:
print(name)

['"Baby Shark Dance"[7]', '"Despacito"[10]', '"Johny Johny Yes Papa"[18]', '"Bath Song"[19]', '"Shape of You"[20]', '"See You Again"[23]', '"Wheels on the Bus"[28]', '"Phonics Song with Two Words"[29]', '"Uptown Funk"[30]', '"Gangnam Style"[31]', '"Learning Colors ‚Äì Colorful Eggs on a Farm"[36]', '"Dame Tu Cosita"[37]', '"Masha and the Bear ‚Äì Recipe for Disaster"[38]', '"Axel F"[39]', '"Sugar"[40]', '"Baa Baa Black Sheep"[41]', '"Counting Stars"[42]', '"Lakdi Ki Kathi"[43]', '"Roar"[44]', '"Waka Waka (This Time for Africa)"[45]', '"Sorry"[46]', '"Shree Hanuman Chalisa"[47]', '"Humpty the train on a fruits ride"[48]', '"Thinking Out Loud"[49]', '"Perfect"[50]', '"Dark Horse"[51]', '"Let Her Go"[52]', '"Faded"[53]', '"Girls Like You"[54]', '"Lean On"[55]']

In [8]:
# scraping artist name from the given page
artist_tag=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[2]')
try:
    for i in artist_tag:
        artist.append(i.text)
except NoSuchElementException as e:
    print("Exception Raised",e) 
    
# scraping upload date from the given page
date_tag=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[4]')
try:
    for i in date_tag:
        upload_date.append(i.text)
except NoSuchElementException as e:
    print("Exception Raised",e) 
    
# scraping views from the given page
views_tag=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[3]')
try:
    for i in views_tag:
        views.append(i.text)
except NoSuchElementException as e:
    print("Exception Raised",e)

In [9]:
print(len(name),len(artist),len(upload_date),len(views))

30 30 30 30

In [21]:
rank=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30]

In [22]:
df=pd.DataFrame({'Rank':rank,'Name':name,'Artist':artist,'Upload Date':upload_date,'Views':views})

In [23]:
print(df)

    Rank                                             Name  \
0      1                            "Baby Shark Dance"[7]
1      2                                  "Despacito"[10]
2      3                       "Johny Johny Yes Papa"[18]
3      4                                  "Bath Song"[19]
4      5                               "Shape of You"[20]
5      6                              "See You Again"[23]
6      7                          "Wheels on the Bus"[28]
7      8                "Phonics Song with Two Words"[29]
8      9                                "Uptown Funk"[30]
9     10                              "Gangnam Style"[31]
10    11  "Learning Colors ‚Äì Colorful Eggs on a Farm"[36]
11    12                             "Dame Tu Cosita"[37]
12    13   "Masha and the Bear ‚Äì Recipe for Disaster"[38]
13    14                                     "Axel F"[39]
14    15                                      "Sugar"[40]
15    16                        "Baa Baa Black Sheep"[41]
16    17                             "Counting Stars"[42]
17    18                             "Lakdi Ki Kathi"[43]
18    19                                       "Roar"[44]
19    20           "Waka Waka (This Time for Africa)"[45]
20    21                                      "Sorry"[46]
21    22                      "Shree Hanuman Chalisa"[47]
22    23          "Humpty the train on a fruits ride"[48]
23    24                          "Thinking Out Loud"[49]
24    25                                    "Perfect"[50]
25    26                                 "Dark Horse"[51]
26    27                                 "Let Her Go"[52]
27    28                                      "Faded"[53]
28    29                             "Girls Like You"[54]
29    30                                    "Lean On"[55]

                                               Artist        Upload Date  \
0         Pinkfong Baby Shark - Kids' Songs & Stories      June 17, 2016
1                                          Luis Fonsi   January 12, 2017
2   LooLoo Kids - Nursery Rhymes and Children's Songs    October 8, 2016
3                          Cocomelon - Nursery Rhymes        May 2, 2018
4                                          Ed Sheeran   January 30, 2017
5                                         Wiz Khalifa      April 6, 2015
6                          Cocomelon - Nursery Rhymes       May 24, 2018
7               ChuChu TV Nursery Rhymes & Kids Songs      March 6, 2014
8                                         Mark Ronson  November 19, 2014
9                                                 Psy      July 15, 2012
10                                        Miroshka TV  February 27, 2018
11                                      Ultra Records      April 5, 2018
12                                         Get Movies   January 31, 2012
13                                         Crazy Frog      June 16, 2009
14                                           Maroon 5   January 14, 2015
15                         Cocomelon - Nursery Rhymes      June 25, 2018
16                                        OneRepublic       May 31, 2013
17                                       Jingle Toons      June 14, 2018
18                                         Katy Perry  September 5, 2013
19                                            Shakira       June 4, 2010
20                                      Justin Bieber   October 22, 2015
21                              T-Series Bhakti Sagar       May 10, 2011
22      Kiddiestv Hindi - Nursery Rhymes & Kids Songs   January 26, 2018
23                                         Ed Sheeran    October 7, 2014
24                                         Ed Sheeran   November 9, 2017
25                                         Katy Perry  February 20, 2014
26                                          Passenger      July 25, 2012
27                                        Alan Walker   December 3, 2015
28                                           Maroon 5       May 31, 2018
29                               Major Lazer Official     March 22, 2015

    Views
0   14.32
1    8.41
2    6.89
3    6.66
4    6.23
5    6.22
6    6.01
7    5.75
8    5.18
9    5.10
10   5.09
11   4.59
12   4.57
13   4.45
14   4.02
15   4.01
16   4.00
17   3.98
18   3.98
19   3.89
20   3.78
21   3.77
22   3.76
23   3.75
24   3.70
25   3.70
26   3.64
27   3.60
28   3.58
29   3.57

In [24]:
driver.quit()

### 2. Scrape the details team India‚Äôs international fixtures from bcci.tv.  Url = https://www.bcci.tv/.   You need to find following details:   
A) Series   
B) Place   
C) Date   
D) Time   
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [11]:
driver=webdriver.Chrome()

In [12]:
driver.get("https://www.bcci.tv/")

In [13]:
# clicking on see all to see all the fixtures
see=driver.find_element(By.XPATH,'/html/body/div[6]/div[1]/div/div/div[2]/div/div[2]/div/div[1]/div[1]/a')
see.click()

In [14]:
# creating empty list
series=[]
place=[]
date=[]
time=[]

In [16]:
# scraping series data from the given page
ser=driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
try:
    for i in ser:
        series.append(i.text)
except NoSuchElementException as e:
    print("Exception Raised:",e)
    
# scraping place data from the given page
pl=driver.find_elements(By.XPATH,'//div[@class="match-place ng-scope"]')
try:
    for i in pl:
        place.append(i.text)
except NoSuchElementException as e:
    print("Exception Raised:",e)
    
# scraping date data from the given page
da=driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
try:
    for i in da:
        date.append(i.text)
except NoSuchElementException as e:
    print("Exception Raised:",e)
    
# scraping time data from the given page
ti=driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
try:
    for i in ti:
        time.append(i.text)
except NoSuchElementException as e:
    print("Exception Raised:",e)

In [17]:
print(len(series),len(place),len(date),len(time))

9 9 9 9

In [18]:
df=pd.DataFrame({'Series':series,'Place':place,'Date':date,'Time':time})
print(df)

                        Series  \
0  ICC MENS T20 WORLD CUP 2024
1  ICC MENS T20 WORLD CUP 2024
2  ICC MENS T20 WORLD CUP 2024
3  ICC MENS T20 WORLD CUP 2024
4  INDIA TOUR OF ZIMBABWE 2024
5  INDIA TOUR OF ZIMBABWE 2024
6  INDIA TOUR OF ZIMBABWE 2024
7  INDIA TOUR OF ZIMBABWE 2024
8  INDIA TOUR OF ZIMBABWE 2024

                                               Place           Date  \
0  Nassau County International Cricket Stadium, N...   5 JUNE, 2024
1  Nassau County International Cricket Stadium, N...   9 JUNE, 2024
2  Nassau County International Cricket Stadium, N...  12 JUNE, 2024
3  Central Broward Park & Broward County Stadium,...  15 JUNE, 2024
4                         Harare Sports Club, Harare   6 JULY, 2024
5                         Harare Sports Club, Harare   7 JULY, 2024
6                         Harare Sports Club, Harare  10 JULY, 2024
7                         Harare Sports Club, Harare  13 JULY, 2024
8                         Harare Sports Club, Harare  14 JULY, 2024

          Time
0  8:00 PM IST
1  8:00 PM IST
2  8:00 PM IST
3  8:00 PM IST
4  8:00 PM IST
5  8:00 PM IST
6  8:00 PM IST
7  8:00 PM IST
8  8:00 PM IST

### 3. Scrape the details of State-wise GDP of India from statisticstime.com.   
Url = http://statisticstimes.com/   
You have to find following details: A) Rank   
B) State   
C) GSDP(23-24)- at current prices   
D) GSDP(22-23)- at current prices   
E) Share(21-22)   
F) GDP($ billion)   
Note: - From statisticstimes home page you have to reach to economy page through code.

In [2]:
driver=webdriver.Chrome()

In [3]:
driver.get(" http://statisticstimes.com/")

In [4]:
from selenium.common.exceptions import ElementNotInteractableException

In [5]:
# Clicking on India under ecomony section
Ind=driver.find_element(By.XPATH,'//div[@class="dropdown"][2]/div/a[3]')
try:
    Ind.click()
except ElementNotInteractableException:
    driver.get(Ind.get_attribute('href'))
    
time.sleep(2)

In [6]:
# Clicking Indian State GDP
state = driver.find_element(By.XPATH,'//ul[@style="list-style-type:none;margin-left:20px;"]/li[1]/a')
try:
    state.click()
except ElementNotInteractableException:
    driver.get(state.get_attribute('href'))
time.sleep(2)

In [7]:
# Creating Empty lists
Rank =[]
State =[]
GSDP_23_24=[]
GSDP_22_23 =[]
Share =[]
GDP =[]

In [8]:
# Extracting Rank via Xpath
try:
    rank=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[1]')
    for i in rank:
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append('NA')
    
# Extracting state name via Xpath
try:
    state=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[2]')
    for i in state:
        State.append(i.text)
except NoSuchElementException:
    State.append('NA')
    
# Extracting GSDP 23 24 via Xpath
try:
    gsdp_23_24=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[3]')
    for i in gsdp_23_24:
        GSDP_23_24.append(i.text)
except NoSuchElementException:
    GSDP_23_24.append('NA')
    
# Extracting GSDP 22 23 via Xpath
try:
    gsdp_22_23=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[4]')
    for i in gsdp_22_23:
        GSDP_22_23.append(i.text)
except NoSuchElementException:
    GSDP_22_23.append('NA')
    
# Extracting share in billons via Xpath
try:
    share=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[6]')
    for i in share:
        Share.append(i.text)
except NoSuchElementException:
    Share.append('NA')

# Extracting GDP via Xpath
try:
    gdp=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[7]')
    for i in gdp:
        GDP.append(i.text)
except NoSuchElementException:
    GDP.append('NA')

In [9]:
# Dataframe for scrap data
df=pd.DataFrame({'Rank':Rank,'State':State,'GSDP 23-24':GSDP_23_24,'GSDP 22-23':GSDP_22_23,
                            'Share':Share,'GDP (in Billions)':GDP})

In [10]:
df

,Rank,State,GSDP 23-24,GSDP 22-23,Share,GDP (in Billions)
0,1,Maharashtra,-,-,13.17%,414.928
1,2,Tamil Nadu,"2,700,109","2,364,514",8.78%,276.522
2,3,Karnataka,"2,500,733","2,269,995",8.38%,264.080
3,4,Uttar Pradesh,"2,547,861","2,258,040",8.37%,263.747
4,5,Gujarat,-,"2,230,609",8.17%,257.484
5,6,West Bengal,"1,700,939","1,531,758",5.63%,177.456
6,7,Rajasthan,"1,524,030","1,365,849",5.06%,159.334
7,8,Andhra Pradesh,"1,439,674","1,303,524",4.87%,153.324
8,9,Telangana,"1,463,960","1,308,034",4.76%,150.084
9,10,Madhya Pradesh,"1,363,327","1,246,471",4.63%,145.913
10,11,Kerala,-,"1,046,188",3.96%,124.764
11,12,Delhi,"1,107,746","1,014,688",3.73%,117.660
12,13,Haryana,"1,095,535","984,055",3.68%,116.001
13,14,Odisha,"832,790","753,177",2.81%,88.497
14,15,Bihar,-,"751,396",2.76%,86.817
15,16,Punjab,"736,423","676,164",2.62%,82.397
16,17,Assam,"565,401","493,167",1.74%,54.930
17,18,Chhattisgarh,"505,887","464,399",1.74%,54.806
18,19,Jharkhand,-,"393,722",1.52%,47.909
19,20,Uttarakhand,"346,206","303,781",1.13%,35.664
20,21,Jammu & Kashmir,"246,465","224,226",0.82%,25.813
21,22,Himachal Pradesh,"207,430","191,728",0.73%,22.984
22,23,Goa,-,"93,672",0.36%,11.250
23,24,Tripura,-,"72,636",0.27%,8.351
24,25,Chandigarh,-,"54,285",0.20%,6.154
25,26,Puducherry,-,"49,643",0.19%,5.849
26,27,Meghalaya,"47,381","42,697",0.16%,5.178
27,28,Sikkim,-,"42,756",0.16%,5.014
28,29,Manipur,-,-,0.16%,4.885
29,30,Arunachal Pradesh,-,"39,630",0.15%,4.643
30,31,Nagaland,-,"35,643",0.13%,4.144
31,32,Mizoram,-,-,0.12%,3.715
32,33,Andaman & Nicobar Islands,-,-,0.04%,1.385

In [11]:
driver.quit()

### 4. Scrape the details of trending repositories on Github.com.   
Url = https://github.com/   
You have to find the following details:   
A) Repository title   
B) Repository description   
C) Contributors count   
D) Language used  
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [2]:
# connecting to the webdriver
driver=webdriver.Chrome()

In [3]:
# opening github page
driver.get(' https://github.com/')

In [4]:
# clicking on open source
os=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
os.click()

In [5]:
# clicking on trending option
trend=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
try:
    trend.click()
except ElementNotInteractableException:
    driver.get(trend.get_attribute('href'))

In [6]:
# Creating Empty list for Scraping Data
Title=[]
Description=[]
Count =[]
Language =[]

In [7]:
# Scraping repositories URL
URL= []
link=driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]/a')
for i in link:
    URL.append(i.get_attribute('href'))

In [8]:
len(URL)

25

In [10]:
# scraping required data
for i in URL:
    driver.get(i)
    time.sleep(2)
    
    # scraping repository title
    try:
        title=driver.find_elements(By.XPATH,'//span[@class="author flex-self-stretch"]')
        for i in title:
            Title.append(i.text)
    except NoSuchElementException:
        Title.append('-')
        
    # scraping repository description
    try:
        desc=driver.find_elements(By.XPATH,'//p[@class="f4 mb-3 "]')
        for i in desc:
            Description.append(i.text)
    except NoSuchElementException:
        Description.append('-')
        
    # scraping contribution count
    try:
        cc=driver.find_elements(By.XPATH,'//span[@class="Counter ml-1"]')
        for i in cc:
            Count.append(i.text)
    except NoSuchElementException:
        Count.append('-')
        
    # scraping language used
    L=[]
    try:
        lang=driver.find_elements(By.XPATH,'//span[@class="color-fg-default text-bold mr-1"]')
        if lang:
            for j in lang:
                L.append(j.text)
        else:
            L.append('NA')
        Language.append(L)
    except NoSuchElementException:
        Language.append('-')

In [43]:
print(len(Title),len(Language),len(Description),len(Count))

25 25 25 25

In [44]:
df=pd.DataFrame({'Title':Title,'Description':Description,'Contributors_count':Count,'Language_used':Language})

In [45]:
df

,Title,Description,Contributors_count,Language_used
0,plandex-ai,An AI coding engine for complex tasks,7,"[Go, Shell, Other]"
1,HardhatChad,ËÆ°ÁÆóÊú∫Ëá™Â≠¶ÊåáÂçó,4,[Rust]
2,PKUFlyingPig,AstroNvim is an aesthetic and feature-rich neo...,120,[HTML]
3,HardhatChad,freeCodeCamp.org's open-source codebase and cu...,79,[Rust]
4,AstroNvim,üìö Freely available programming books,"4,981",[Lua]
5,freeCodeCamp,A collective list of free APIs,"2,863","[TypeScript, JavaScript, CSS, Dockerfile, MDX,..."
6,EbookFoundation,free,"1,262",[NA]
7,public-apis,Reaching LLaMA2 Performance with 0.1M Dollars,1,"[Python, Shell]"
8,aurora-develop,üöÄüéâüìö SaaS Boilerplate built with Next.js + Tail...,13,"[Go, Other]"
9,myshell-ai,Windows in a Docker container.,4,[Python]
10,ixartz,"Interactive roadmaps, guides and other educati...",1,"[TypeScript, JavaScript, CSS, Shell]"
11,dockur,SearXNG is a free internet metasearch engine w...,4,"[Shell, Dockerfile]"
12,kamranahmedse,Vim-fork focused on extensibility and usability,765,"[TypeScript, Astro, JavaScript, Other]"
13,searxng,üéì Path to a free self-taught education in Comp...,220,"[Python, Shell, HTML, Less, JavaScript, CSS, O..."
14,cloudflare,[GPT beats diffusionüî•] [scaling laws in visual...,26,"[TypeScript, JavaScript, Other]"
15,availproject,Learn how to design large-scale systems. Prep ...,"1,260","[Rust, Dockerfile]"
16,neovim,"A React Framework for building internal tools,...",36,"[Vim Script, C, Lua, CMake, Python, Shell, Other]"
17,availproject,A multi core friendly rigid body physics and c...,140,"[Rust, HTML, JavaScript, CSS, TypeScript, Shel..."
18,ossu,‚õìÔ∏è Langflow is a dynamic graph where each node...,2,[NA]
19,FoundationVision,-,22,"[Python, Jupyter Notebook]"
20,pagefaultgames,-,118,"[TypeScript, PowerShell, PLSQL, JavaScript, HT..."
21,donnemartin,-,221,"[Python, Shell]"
22,refinedev,-,43,"[TypeScript, JavaScript, CSS, HTML, Handlebars..."
23,jrouwe,-,85,"[C++, C, CMake, HLSL, JavaScript, Batchfile]"
24,logspace-ai,-,-,"[JavaScript, Python, TypeScript, CSS, Shell, D..."

In [46]:
driver.quit()

### 5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/  You have to find the 
following details:   
A) Song name   
B) Artist name   
C) Last week rank   
D) Peak rank   
E) Weeks on board   
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [9]:
driver=webdriver.Chrome()

In [11]:
driver.get("https://www.billboard.com/")

In [13]:
# Clicking on Charts Option
charts=driver.find_element(By.XPATH,'/html/body/div[3]/div[9]/div/div/div/ul/li[1]/h3/a')
charts.click()

In [14]:
# Clicking on hot 100 option
hot_100=driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div[2]/div/div[1]/a/span/span')
try:
    hot_100.click()
except ElementNotInteractableException:
    driver.get(hot_100.get_attribute('href'))
time.sleep(2)

In [15]:
# Creating Empty List
Song =[]
Artist =[]
Last_Week_rank=[]
Peak_rank =[]
Weeks =[]

In [16]:
# Scraping Song Name
try:
    song=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li/h3')
    for i in song:
        Song.append(i.text)
except NoSuchElementException:
    Song.append('NA')
    
# Scraping Song Artist Name
try:
    artist=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"][1]/ul/li[1]/span')
    for i in artist:
        Artist.append(i.text)
except NoSuchElementException:
    Artist.append('NA')
    
# Scraping Song last week rank
try:
    last_rank=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"][1]/ul/li[7]/ul/li[3]/span')
    for i in last_rank:
        Last_Week_rank.append(i.text)
except NoSuchElementException:
    Last_Week_rank.append('NA')

# Scraping Song peak rank
try:
    peak=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"][1]/ul/li[7]/ul/li[4]/span')
    for i in peak:
        Peak_rank.append(i.text)
except NoSuchElementException:
    Peak_rank.append('NA')

# Scraping weeks 
try:
    weeks=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"][1]/ul/li[7]/ul/li[5]/span')
    for i in weeks:
        Weeks.append(i.text)
except NoSuchElementException:
    Weeks.append('NA')

In [17]:
Billboard=pd.DataFrame({'Song_Name':Song,
                'Artist_Name':Artist,
                'Last_week_rank':Last_Week_rank,
                'Peak':Peak_rank,
                'Weeks_on_chart':Weeks})

In [18]:
Billboard

,Song_Name,Artist_Name,Last_week_rank,Peak,Weeks_on_chart
0,Like That,"Future, Metro Boomin & Kendrick Lamar",-,1,1
1,Type Shit,"Future, Metro Boomin, Travis Scott & Playboi C...",-,2,1
2,Beautiful Things,Benson Boone,2,2,10
3,Lose Control,Teddy Swims,1,1,33
4,Too Sweet,Hozier,-,5,1
...,...,...,...,...,...
95,La Victima,Xavi,77,46,15
96,Tucson Too Late,Jordan Davis,81,81,4
97,Empire Now,Hozier,-,98,1
98,Girl I've Always Been,Olivia Rodrigo,-,99,1
99,Outskirts,Sam Hunt,92,92,3

In [19]:
driver.quit()

### 6. Scrape the details of Highest selling novels.   
A) Book name   
B) Author name   
C) Volumes sold   
D) Publisher   
E) Genre   
Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [2]:
# connecting to the web driver
driver=webdriver.Chrome()

In [3]:
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [4]:
# Creating Empty Lists
Book =[]
Author =[]
Volumes_sold =[]
Publisher =[]
Genre =[]

In [5]:
# Scraping Book name
try:
    book=driver.find_elements(By.XPATH,'//td[@class="left"][2]')
    for i in book:
        Book.append(i.text)
except NoSuchElementException:
    Book.append('NA')
    
# Scraping Book author's via Xpath
try:
    author=driver.find_elements(By.XPATH,'//td[@class="left"][3]')
    for i in author:
        Author.append(i.text)
except NoSuchElementException:
    Author.append('NA')
    
# Scraping Volumes sold via Xpath
try:
    sold=driver.find_elements(By.XPATH,'//td[@class="left"][4]')
    for i in sold:
        Volumes_sold.append(i.text)
except NoSuchElementException:
    Volumes_sold.append('NA')
    
# Scraping publisher via xPath
try:
    publisher=driver.find_elements(By.XPATH,'//td[@class="left"][5]')
    for i in publisher:
        Publisher.append(i.text)
except NoSuchElementException:
    Publisher.append('NA')
    
# Scraping Genre via Xpath
try:
    genre=driver.find_elements(By.XPATH,'//td[@class="last left"]')
    for i in genre:
        Genre.append(i.text)
except NoSuchElementException:
    Genre.append('NA')

In [6]:
#creating dataframe
Books=pd.DataFrame({"Book Title":Book,
                "Author Name":Author,
                'Volumes sold':Volumes_sold,
                'Publisher':Publisher,
                'Genre':Genre})

In [7]:
print(Books)

                                           Book Title       Author Name  \
0                                   Da Vinci Code,The        Brown, Dan
1                Harry Potter and the Deathly Hallows     Rowling, J.K.
2            Harry Potter and the Philosopher's Stone     Rowling, J.K.
3           Harry Potter and the Order of the Phoenix     Rowling, J.K.
4                                Fifty Shades of Grey      James, E. L.
..                                                ...               ...
95                                          Ghost,The    Harris, Robert
96                     Happy Days with the Naked Chef     Oliver, Jamie
97              Hunger Games,The:Hunger Games Trilogy  Collins, Suzanne
98  Lost Boy,The:A Foster Child's Search for the L...      Pelzer, Dave
99  Jamie's Ministry of Food:Anyone Can Learn to C...     Oliver, Jamie

   Volumes sold        Publisher                        Genre
0     5,094,805       Transworld  Crime, Thriller & Adventure
1     4,475,152       Bloomsbury           Children's Fiction
2     4,200,654       Bloomsbury           Children's Fiction
3     4,179,479       Bloomsbury           Children's Fiction
4     3,758,936     Random House              Romance & Sagas
..          ...              ...                          ...
95      807,311     Random House   General & Literary Fiction
96      794,201          Penguin        Food & Drink: General
97      792,187  Scholastic Ltd.          Young Adult Fiction
98      791,507            Orion           Biography: General
99      791,095          Penguin        Food & Drink: General

[100 rows x 5 columns]

In [22]:
driver.quit()